//Префикс — уникальный идентификатор пространства, к которому принадлежит токен. Обычно это сокращение названия дизайн-системы, вроде -md (material).
//Группа токена — атрибут визуального дизайна или основополагающий стиль, например, color, font, spacing, radius и т. д. Полный список категорий.
//Тип токена — элемент пользовательского интерфейса, к которому применяется токен, например, text, background, icon, border, component.
//Элемент — сам элемент, например, control, slider, divider, snackbar. Иногда пропускается в названии, если это токен не для компонента.
//Модификатор — дополнительные сведения о токене. С помощью модификатора можно добавить разновидность элемента, пример будет ниже.
//Вариант — primary, secondary, warning, success, critical и т. д.
//Состояние — default, hover, active, focus, disabled.

//[Префикс]-[Группа-токена]-[Тип-токена]-[Элемент]-[Модификатор]-[Вариант]-[Состояние].
//[sflb]

// Size
$sflb-size-base: 4px;
$sflb-size-x1: $sflb-size-base;
$sflb-size-x2: $sflb-size-base * 2;
$sflb-size-x3: $sflb-size-base * 3;
$sflb-size-x4: $sflb-size-base * 4;
$sflb-size-x5: $sflb-size-base * 5;
$sflb-size-x6: $sflb-size-base * 6;
$sflb-size-x7: $sflb-size-base * 7;
$sflb-size-x8: $sflb-size-base * 8;
$sflb-size-x9: $sflb-size-base * 9;
$sflb-size-x10: $sflb-size-base * 10;

// Block spacing
$sflb-spacing-block-s-top: 40px;
$sflb-spacing-block-s-bottom: 40px;
$sflb-spacing-block-m-top: 60px;
$sflb-spacing-block-m-bottom: 60px;
$sflb-spacing-block-l-top: 80px;
$sflb-spacing-block-l-bottom: 80px;
$sflb-spacing-block-xl-top: 90px;
$sflb-spacing-block-xl-bottom: 90px;

// Background color
$sflb-color-background-primary: #2b2b2b;
$sflb-color-background-secondary: #2c2c2c;

// Button color
$sflb-color-button-green: #5ed76a;
$sflb-color-button-green-hover: #68ee75;
$sflb-color-button-green-focus: #68ee75;
$sflb-color-button-green-active: '';
$sflb-color-button-green-loading: darken($sflb-color-button-green, 20%);
$sflb-color-button-green-disabled: rgba(93, 214, 105, 0.50);

$sflb-color-button-secondary: transparent;
$sflb-color-button-secondary-hover: #68ee75;
$sflb-color-button-secondary-focus: #68ee75;
$sflb-color-button-secondary-active: '';
$sflb-color-button-secondary-loading: darken($sflb-color-button-green, 20%);
$sflb-color-button-secondary-disabled: '';
$sflb-color-button-border-secondary: #ffffff;

// Typo color
$sflb-color-title-primary: #2b2b2b;
$sflb-color-text-primary: #2b2b2b;
$sflb-color-title-secondary: #ffffff;
$sflb-color-text-secondary: #ffffff;

// Link color
$sflb-color-link-primary: #35af38;
$sflb-color-link-primary-focus: '';
$sflb-color-link-primary-hover: '';
$sflb-color-link-primary-active: '';

// Any color
$sflb-color-black: #000000;
$sflb-color-white: #ffffff;

$sflb-color-placeholder-primary: #959595;

$sflb-color-red: #ff5858;
$sflb-color-red-hover: #ea797f;

$sflb-color-main: #5dd669;
$sflb-color-hover: #68ee75;
$sflb-color-disable: rgba(93, 214, 105, 0.50);
$sflb-color-info: #e6fae7;
$sflb-color-light-gray-1: #f1f1f1;
$sflb-color-light-gray-2: #f8f8f8;

$sflb-gradient-1: #3ec29b;
$sflb-gradient-2: #48d970;
$sflb-gradient-3: #4ee759;
$sflb-gradient-4: #48da6e;
$sflb-gradient-5: #56da69;
$sflb-gradient-6: #4cdd69;
$sflb-gradient-7: #49dd6c;
$sflb-gradient-8: #54de64;
$sflb-gradient-9: #83e546;
$sflb-gradient-10: #56de62;
$sflb-gradient-11: #45dd77;

// Gradient
$sflb-gradient-button-primary: linear-gradient(
                90deg,
                $sflb-gradient-1 0%, 4.87106%,
                $sflb-gradient-2 9.74212%, 15.1146%,
                $sflb-gradient-3 20.4871%, 25.1433%,
                $sflb-gradient-4 29.7994%, 34.6347%,
                $sflb-gradient-5 39.4699%, 44.735%,
                $sflb-gradient-6 50%, 55.1218%,
                $sflb-gradient-7 60.2436%, 65.4011%,
                $sflb-gradient-8 70.5587%, 75.4298%,
                $sflb-gradient-9 80.3009%, 85.9241%,
                $sflb-gradient-10 91.5473%, 95.7736%,
                $sflb-gradient-11 100%
);
$sflb-gradient-button-primary-hover: linear-gradient(0deg, #43a359 0%, #29714a 55.44%, #236646 74.67%);

// Font family
$sflb-font-family-primary: 'SuisseIntl', sans-serif;
$sflb-font-family-secondary: 'Montserrat', sans-serif;

// Font weight
$sflb-font-weight-thin: 100;
$sflb-font-weight-extra-light: 200;
$sflb-font-weight-light: 300;
$sflb-font-weight-normal: 400;
$sflb-font-weight-medium: 500;
$sflb-font-weight-semi-bold: 600;
$sflb-font-weight-bold: 700;
$sflb-font-weight-extra-bold: 800;
$sflb-font-weight-black: 900;

// Header0
$sflb-font-size-header0-s: 46px;
$sflb-line-height-header0-s: 52px;
$sflb-font-weight-header0-s: 450;
$sflb-letter-spacing-header0-s: '';

$sflb-font-size-header0-m: 56px;
$sflb-line-height-header0-m: 66px;
$sflb-font-weight-header0-m: 450;
$sflb-letter-spacing-header0-m: '';

$sflb-font-size-header0-l: 60px;
$sflb-line-height-header0-l: 70px;
$sflb-font-weight-header0-l: 450;
$sflb-letter-spacing-header0-l: '';

$sflb-font-size-header0-xl: 64px;
$sflb-line-height-header0-xl: 74px;
$sflb-font-weight-header0-xl: 450;
$sflb-letter-spacing-header0-xl: '';

// Header1
$sflb-font-size-header1-s: 34px;
$sflb-line-height-header1-s: 42px;
$sflb-font-weight-header1-s: 450;
$sflb-letter-spacing-header1-s: '';

$sflb-font-size-header1-m: 46px;
$sflb-line-height-header1-m: 56px;
$sflb-font-weight-header1-m: 450;
$sflb-letter-spacing-header1-m: '';

$sflb-font-size-header1-l: 50px;
$sflb-line-height-header1-l: 66px;
$sflb-font-weight-header1-l: 450;
$sflb-letter-spacing-header1-l: '';

$sflb-font-size-header1-xl: 52px;
$sflb-line-height-header1-xl: 66px;
$sflb-font-weight-header1-xl: 450;
$sflb-letter-spacing-header1-xl: '';

// Header2
$sflb-font-size-header2-s: 32px;
$sflb-line-height-header2-s: 36px;
$sflb-font-weight-header2-s-light: $sflb-font-weight-light;
$sflb-font-weight-header2-s-book: 450;
$sflb-letter-spacing-header2-s: '';

$sflb-font-size-header2-m: 36px;
$sflb-line-height-header2-m: 40px;
$sflb-font-weight-header2-m-light: $sflb-font-weight-light;
$sflb-font-weight-header2-m-book: 450;
$sflb-letter-spacing-header2-m: '';

$sflb-font-size-header2-l: '';
$sflb-line-height-header2-l: '';
$sflb-font-weight-header2-l-light: $sflb-font-weight-light;
$sflb-font-weight-header2-l-book: 450;
$sflb-letter-spacing-header2-l: '';

$sflb-font-size-header2-xl: 38px;
$sflb-line-height-header2-xl: 40px;
$sflb-font-weight-header2-xl-light: $sflb-font-weight-light;
$sflb-font-weight-header2-xl-book: 450;
$sflb-letter-spacing-header2-xl: '';

// Header3
$sflb-font-size-header3-s: 22px;
$sflb-line-height-header3-s: 26px;
$sflb-font-weight-header3-s: $sflb-font-weight-medium;
$sflb-letter-spacing-header3-s: '';

$sflb-font-size-header3-m: 24px;
$sflb-line-height-header3-m: 28px;
$sflb-font-weight-header3-m: $sflb-font-weight-medium;
$sflb-letter-spacing-header3-m: '';

$sflb-font-size-header3-l: '';
$sflb-line-height-header3-l: '';
$sflb-font-weight-header3-l: $sflb-font-weight-medium;
$sflb-letter-spacing-header3-l: '';

$sflb-font-size-header3-xl: 26px;
$sflb-line-height-header3-xl: 28px;
$sflb-font-weight-header3-xl-light: $sflb-font-weight-light;
$sflb-font-weight-header3-xl-regular: $sflb-font-weight-normal;
$sflb-font-weight-header3-xl-medium: $sflb-font-weight-medium;
$sflb-letter-spacing-header3-xl: '';

// Header4
$sflb-font-size-header4-s: 20px;
$sflb-line-height-header4-s: 24px;
$sflb-font-weight-header4-s: $sflb-font-weight-medium;
$sflb-letter-spacing-header4-s: '';

$sflb-font-size-header4-m: 22px;
$sflb-line-height-header4-m: 24px;
$sflb-font-weight-header4-m-light: $sflb-font-weight-light;
$sflb-font-weight-header4-m-regular: $sflb-font-weight-normal;
$sflb-font-weight-header4-m-medium: $sflb-font-weight-medium;
$sflb-letter-spacing-header4-m: '';

$sflb-font-size-header4-l: '';
$sflb-line-height-header4-l: '';
$sflb-font-weight-header4-l: '';
$sflb-letter-spacing-header4-l: '';

$sflb-font-size-header4-xl: 24px;
$sflb-line-height-header4-xl: 26px;
$sflb-font-weight-header4-xl-light: $sflb-font-weight-light;
$sflb-font-weight-header4-xl-regular: $sflb-font-weight-normal;
$sflb-font-weight-header4-xl-medium: $sflb-font-weight-medium;
$sflb-letter-spacing-header4-xl: '';

// Text
$sflb-font-size-text-xxs: 10px;
$sflb-line-height-text-xs: 12px;
$sflb-font-weight-text-xs: $sflb-font-weight-normal;
$sflb-letter-spacing-text-xs: '';

$sflb-font-size-text-xs: 13px;
$sflb-line-height-text-xs: 16px;
$sflb-font-weight-text-xs: $sflb-font-weight-normal;
$sflb-letter-spacing-text-xs: '';

$sflb-font-size-text-s: 14px;
$sflb-line-height-text-s: 20px;
$sflb-font-weight-text-s-light: $sflb-font-weight-light;
$sflb-font-weight-text-s-regular: $sflb-font-weight-normal;
$sflb-font-weight-text-s-medium: $sflb-font-weight-medium;
$sflb-letter-spacing-text-s: '';

$sflb-font-size-text-m: 16px;
$sflb-line-height-text-m: 20px;
$sflb-font-weight-text-m-light: $sflb-font-weight-light;
$sflb-font-weight-text-m-regular: $sflb-font-weight-normal;
$sflb-font-weight-text-m-medium: $sflb-font-weight-medium;
$sflb-letter-spacing-text-m: '';

$sflb-font-size-text-l: 18px;
$sflb-line-height-text-l: 26px;
$sflb-font-weight-text-l-light: $sflb-font-weight-light;
$sflb-font-weight-text-l-regular: $sflb-font-weight-normal;
$sflb-font-weight-text-l-medium: $sflb-font-weight-medium;
$sflb-letter-spacing-text-l: '';

// Line height
$sflb-line-height-button-primary: 1;

// Transition
$sflb-transition-time-primary: .3s;
$sflb-transition-timing-function-primary: ease-in-out;

// Container
$sflb-min-width-container: 320px;
$sflb-max-width-container: 1200px;
$sflb-spacing-container-left: $sflb-size-x6;
$sflb-spacing-container-right: $sflb-size-x6;

// Radius
$sflb-radius-primary: $sflb-size-x2;
$sflb-radius-button: 15px;
$sflb-radius-card: 15px;
$sflb-radius-badge: 52px;
